/docker/apache_web/.phpunit.cache
/docker/apache_web/node_modules
/docker/apache_web/public/build
/docker/apache_web/public/hot
/docker/apache_web/public/storage
/docker/apache_web/storage/*.key
/docker/apache_web/vendor
/docker/apache_web/.env
/docker/apache_web/.env.backup
/docker/apache_web/.env.production
/docker/apache_web/.phpunit.result.cache
/docker/apache_web/Homestead.json
/docker/apache_web/Homestead.yaml
/docker/apache_web/auth.json
/docker/apache_web/npm-debug.log
/docker/apache_web/yarn-error.log
/docker/apache_web/.fleet
/docker/apache_web/.idea
/docker/apache_web/.vscode
/docker/mysql_data